.container {
  display: flex;
}


.button-container {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.left-button {
  color: #0071c2;
  border: 2px solid transparent;
  border-radius: 40px;
  font-size: 1em;
  padding: 10px 20px;
  height: 90%;
  border-color: #0071c2;
}
